<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Brand Image</a>

    <!-- links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" routerLink="/super-hero" routerLinkActive="active" ariaCurrentWhenActive="page">Super heroes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>
    </ul>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- content -->
<router-outlet></router-outlet>
